.container {
    margin: 40px auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.win {
    background-image: url("http://www.clipartkid.com/images/709/rainbow-cliparts-AH5Dpb-clipart.png");
}

#game-board, #game-board * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#game-board {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 2px solid black;
}

.game-3x3 {
    width: 454px;
    height: 454px;
}

.game-4x4 {
    width: 604px;
    height: 604px;
}

.game-5x5 {
    width: 754px;
    height: 754px;
}

.hidden {
    display: none;
}

.tile,
.button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

#menu {
    min-height: 100px;
    min-width: 330px;
}

#status {
    min-height: 150px;
}

.dumb-tile,
.tile {
    width: 150px;
    height: 150px;
    float: left;
    line-height: 150px;
    font-size: 50px;
    background: #fff;
}

.tile:hover:not(:empty) {
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.2s, background 0.2s;
    transition: transform 0.2s, background 0.2s;
    background: #eee;
}

.hint,
.attention {
    -webkit-animation: attention 2s infinite;
    animation: attention 2s infinite;
}

.highlight,
.move-up,
.move-right,
.move-down,
.move-left {
    background: #add8e6 !important;
}

.highlight {
    background: #fff;
    -webkit-animation: highlight 0.4s;
    animation: highlight 0.4s;
}

.move-up {
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
}

.move-right {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
}

.move-down {
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
}

.move-left {
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
}

.button {
    border-radius: 5px;
    display: inline-block;
    padding: 4px 10px;
    margin: 5px;
    color: black;
    background-color: white;
    border: 2px solid black;
}

.button:hover {
    cursor: pointer;
}

.solution {
    display: inline-block;
    width: 160px;
    text-align: left;
}

.solution-item {
    display: inline-block;
    padding: 4px 10px;
}

.divider {
    width: 5px;
    height: auto;
    display: inline-block;
}

@-webkit-keyframes attention {
    0% {
        background: #add8e6;
    }

    50% {
        background: #fff;
    }

    100% {
        background: #add8e6;
    }
}

@keyframes attention {
    0% {
        background: #add8e6;
    }

    50% {
        background: #fff;
    }

    100% {
        background: #add8e6;
    }
}

@-webkit-keyframes highlight {
    0% {
        background: #add8e6;
    }

    100% {
        background: #fff;
    }
}

@keyframes highlight {
    0% {
        background: #add8e6;
    }

    100% {
        background: #fff;
    }
}
